In [1]:
!pip install  pyspellchecker

Requirement already satisfied: pyspellchecker in c:\users\ucino\anaconda3\lib\site-packages (0.8.1)

In [2]:
import pandas as pd 
from sklearn.preprocessing import MultiLabelBinarizer,StandardScaler

In [3]:
df = pd.read_csv("Dataset .csv")
df

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,Naml۱ Gurme,208,��stanbul,"Kemanke�� Karamustafa Pa��a Mahallesi, R۱ht۱m ...",Karak�_y,"Karak�_y, ��stanbul",28.977392,41.022793,Turkish,...,Turkish Lira(TL),No,No,No,No,3,4.1,Green,Very Good,788
9547,5908749,Ceviz A��ac۱,208,��stanbul,"Ko��uyolu Mahallesi, Muhittin ��st�_nda�� Cadd...",Ko��uyolu,"Ko��uyolu, ��stanbul",29.041297,41.009847,"World Cuisine, Patisserie, Cafe",...,Turkish Lira(TL),No,No,No,No,3,4.2,Green,Very Good,1034
9548,5915807,Huqqa,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.034640,41.055817,"Italian, World Cuisine",...,Turkish Lira(TL),No,No,No,No,4,3.7,Yellow,Good,661
9549,5916112,A���k Kahve,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.036019,41.057979,Restaurant Cafe,...,Turkish Lira(TL),No,No,No,No,4,4.0,Green,Very Good,901
9550,5927402,Walter's Coffee Roastery,208,��stanbul,"Cafea��a Mahallesi, Bademalt۱ Sokak, No 21/B, ...",Moda,"Moda, ��stanbul",29.026016,40.984776,Cafe,...,Turkish Lira(TL),No,No,No,No,2,4.0,Green,Very Good,591

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9551 non-null   int64
 1   Restaurant Name       9551 non-null   object
 2   Country Code          9551 non-null   int64
 3   City                  9551 non-null   object
 4   Address               9551 non-null   object
 5   Locality              9551 non-null   object
 6   Locality Verbose      9551 non-null   object
 7   Longitude             9551 non-null   float64
 8   Latitude              9551 non-null   float64
 9   Cuisines              9542 non-null   object
 10  Average Cost for two  9551 non-null   int64
 11  Currency              9551 non-null   object
 12  Has Table booking     9551 non-null   object
 13  Has Online delivery   9551 non-null   object
 14  Is delivering now     9551 non-null   object
 15  Switch to order menu  9551 non-null   object
 16  Price range           9551 non-null   int64
 17  Aggregate rating      9551 non-null   float64
 18  Rating color          9551 non-null   object
 19  Rating text           9551 non-null   object
 20  Votes                 9551 non-null   int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB

0       False
1       False
2       False
3       False
4       False
        ...
9546    False
9547    False
9548    False
9549    False
9550    False
Name: City, Length: 9551, dtype: bool

In [6]:
df['Aggregate rating'].value_counts()

Aggregate rating
0.0    2148
3.2     522
3.1     519
3.4     498
3.3     483
3.5     480
3.0     468
3.6     458
3.7     427
3.8     400
2.9     381
3.9     335
2.8     315
4.1     274
4.0     266
2.7     250
4.2     221
2.6     191
4.3     174
4.4     144
2.5     110
4.5      95
2.4      87
4.6      78
4.9      61
2.3      47
4.7      42
2.2      27
4.8      25
2.1      15
2.0       7
1.9       2
1.8       1
Name: count, dtype: int64

In [7]:
df['Price range'].value_counts()

Price range
1    4444
2    3113
3    1408
4     586
Name: count, dtype: int64

In [8]:
df['Cuisines'] = df['Cuisines'].fillna('Unknow')

In [9]:
df['Cuisines'].isnull().sum()

0

In [10]:
df['Cuisines'] = df['Cuisines'].str.split(', ')

In [11]:
new_df = df[['Cuisines','Aggregate rating','City','Restaurant Name']]

In [12]:
new_df

,Cuisines,Aggregate rating,City,Restaurant Name
0,"[French, Japanese, Desserts]",4.8,Makati City,Le Petit Souffle
1,[Japanese],4.5,Makati City,Izakaya Kikufuji
2,"[Seafood, Asian, Filipino, Indian]",4.4,Mandaluyong City,Heat - Edsa Shangri-La
3,"[Japanese, Sushi]",4.9,Mandaluyong City,Ooma
4,"[Japanese, Korean]",4.8,Mandaluyong City,Sambo Kojin
...,...,...,...,...
9546,[Turkish],4.1,��stanbul,Naml۱ Gurme
9547,"[World Cuisine, Patisserie, Cafe]",4.2,��stanbul,Ceviz A��ac۱
9548,"[Italian, World Cuisine]",3.7,��stanbul,Huqqa
9549,[Restaurant Cafe],4.0,��stanbul,A���k Kahve
9550,[Cafe],4.0,��stanbul,Walter's Coffee Roastery

In [13]:
df['Cuisines'].value_counts()

Cuisines
[North Indian]                                             936
[North Indian, Chinese]                                    511
[Chinese]                                                  354
[Fast Food]                                                354
[North Indian, Mughlai]                                    334
                                                          ...
[Bengali, Fast Food]                                         1
[North Indian, Rajasthani, Asian]                            1
[Chinese, Thai, Malaysian, Indonesian]                       1
[Bakery, Desserts, North Indian, Bengali, South Indian]      1
[Italian, World Cuisine]                                     1
Name: count, Length: 1826, dtype: int64

In [14]:
from sklearn.preprocessing import MultiLabelBinarizer
ohe = MultiLabelBinarizer()

In [15]:
cuisine_encoded = ohe.fit_transform(new_df['Cuisines'])
cuisine_encoded_df = pd.DataFrame(cuisine_encoded, columns=ohe.classes_)

In [16]:
cuisine_encoded_df

,Afghani,African,American,Andhra,Arabian,Argentine,Armenian,Asian,Asian Fusion,Assamese,...,Tex-Mex,Thai,Tibetan,Turkish,Turkish Pizza,Unknow,Vegetarian,Vietnamese,Western,World Cuisine
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
9547,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9548,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9549,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9550,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
city_encoded = pd.get_dummies(new_df['City'], prefix='City')

In [18]:
combined_df = pd.concat([new_df.drop(['Cuisines', 'City'], axis=1), cuisine_encoded_df, city_encoded], axis=1)
combined_df

,Aggregate rating,Restaurant Name,Afghani,African,American,Andhra,Arabian,Argentine,Armenian,Asian,...,City_Vernonia,City_Victor Harbor,City_Vineland Station,City_Vizag,City_Waterloo,City_Weirton,City_Wellington City,City_Winchester Bay,City_Yorkton,City_��stanbul
0,4.8,Le Petit Souffle,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,False
1,4.5,Izakaya Kikufuji,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,False
2,4.4,Heat - Edsa Shangri-La,0,0,0,0,0,0,0,1,...,False,False,False,False,False,False,False,False,False,False
3,4.9,Ooma,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,False
4,4.8,Sambo Kojin,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,4.1,Naml۱ Gurme,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,True
9547,4.2,Ceviz A��ac۱,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,True
9548,3.7,Huqqa,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,True
9549,4.0,A���k Kahve,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,True
9550,4.0,Walter's Coffee Roastery,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,True

In [19]:
from sklearn.preprocessing import StandardScaler
mn = StandardScaler()

In [20]:
model = mn.fit(combined_df[['Aggregate rating']])
combined_df[['Aggregate rating']]=model.transform(combined_df[['Aggregate rating']])

In [21]:
combined_df

,Aggregate rating,Restaurant Name,Afghani,African,American,Andhra,Arabian,Argentine,Armenian,Asian,...,City_Vernonia,City_Victor Harbor,City_Vineland Station,City_Vizag,City_Waterloo,City_Weirton,City_Wellington City,City_Winchester Bay,City_Yorkton,City_��stanbul
0,1.407131,Le Petit Souffle,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,False
1,1.209281,Izakaya Kikufuji,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,False
2,1.143331,Heat - Edsa Shangri-La,0,0,0,0,0,0,0,1,...,False,False,False,False,False,False,False,False,False,False
3,1.473081,Ooma,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,False
4,1.407131,Sambo Kojin,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,0.945480,Naml۱ Gurme,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,True
9547,1.011430,Ceviz A��ac۱,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,True
9548,0.681680,Huqqa,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,True
9549,0.879530,A���k Kahve,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,True
9550,0.879530,Walter's Coffee Roastery,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,True

In [22]:
from sklearn.metrics.pairwise import cosine_similarity
similarity_matrix = cosine_similarity(combined_df.drop(['Restaurant Name'], axis=1))

In [23]:
def get_recommendations(city, cuisines, top_n=5):
    # Filter restaurants based on the provided city and cuisine
    filtered_restaurants = new_df[(new_df['City'] == city) & (new_df['Cuisines'].apply(lambda x: any(cuisine in x for cuisine in cuisines)))]

    if filtered_restaurants.empty:
        return pd.DataFrame(columns=['Restaurant Name'])

    
    filtered_indices = filtered_restaurants.index
    filtered_similarity = similarity_matrix[filtered_indices]

  
    similarity_scores = filtered_similarity.mean(axis=0)
    top_indices = similarity_scores.argsort()[-top_n:][::-1]

    return new_df.iloc[top_indices]['Restaurant Name']

In [24]:
user_city = "New Delhi"  # Replace with the desired city
user_cuisine = ['North Indian', 'Chinese']  # Replace with the desired cuisine

# Get recommendations based on user input
recommendations = get_recommendations(user_city, user_cuisine, top_n=5)

print(recommendations)

4463    Annapurna Restaurant
6198           Rahul's Rasoi
4596              Wah Ji Wah
4197                   Singz
6555      Flavours of Punjab
Name: Restaurant Name, dtype: object

In [30]:
import pickle

In [31]:
pickle.dump(new_df.to_dict(),open('new_df.pkl','wb'))

In [32]:
pickle.dump(similarity_matrix,open('similarity_matrix.pkl','wb'))